@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");
* {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #DBE0E9; }

body {
  background-color: #0B1528; }

button, input {
  color: #000000; }

.content-page {
  padding-top: 45px; }
  .content-page a {
    color: #84C5FB;
    text-decoration: none; }
    .content-page a:hover {
      color: #C7E2FF; }

.accent-text {
  color: #4CC0E7; }

.greyed-text {
  color: #9DA3AF; }

.bolded {
  font-weight: 700; }

.warning {
  background-color: #463C07;
  padding: 15px 30px;
  font-size: 0.94rem; }

.content-section {
  background-color: #20232F;
  padding: 10px;
  border: 1px solid #323643; }

#backdrop {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #0000004f; }

.art_thumbnail {
  width: 44px;
  text-align: center; }

.art_thumbnail_container {
  border-radius: 7px;
  height: 44px;
  width: 44px;
  overflow: hidden; }
  .art_thumbnail_container img {
    height: 100%;
    max-width: 100%;
    object-fit: contain; }

header {
  position: fixed;
  width: 100vw;
  z-index: 3;
  background-color: #152238;
  color: #DBE0E9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 4px 24px; }
  header a {
    text-decoration: none;
    color: #DBE0E9; }
    header a:hover {
      background-color: #202C3F; }

.header_title a {
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 8px; }

.header_logo {
  background: url("../public/img/header_logo.png");
  background-size: cover;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px; }

.header_shortcuts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 12px; }

.header_searchbar {
  flex-grow: 1; }
  .header_searchbar input {
    width: 100%;
    background-color: #1C2B45;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 4px 16px;
    color: #DBE0E9; }

.header_divider {
  width: 1px;
  height: 30px;
  margin: 4px 8px;
  background-color: #D7D7D7; }

.logo-image {
  background: url("../public/img/logo_big.png");
  background-size: cover;
  border: 8px solid #ffffff;
  border-radius: 50%;
  height: 120px;
  width: 120px; }

.welcome_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 120px 1fr 250px;
  column-gap: 30px;
  margin: 0 50px; }
  .welcome_container .welcome_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px; }
  .welcome_container .welcome_message-title {
    font-size: 2.15rem;
    color: #A8AEBA; }
    .welcome_container .welcome_message-title span {
      color: #4EBEE7; }
  .welcome_container .welcome_social {
    display: flex;
    gap: 16px; }
    .welcome_container .welcome_social img {
      height: 30px; }

.data-counter_container {
  display: flex;
  gap: 24px;
  font-size: 0.94rem;
  border-top: 1px solid #9da3af3f;
  border-bottom: 1px solid #9da3af3f;
  padding: 12px;
  margin: 32px 50px 0 50px; }

.release-page,
.artist-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #272A37; }

.release_left-col,
.artist_left-col {
  background-color: #272A37; }

.artist-page_image-frame {
  width: 100%;
  height: fit-content; }

.artist-page_image {
  background-color: #777777;
  width: 100%;
  aspect-ratio: 1 / 1; }

.artist_right-col {
  background-color: #0B0E19;
  padding: 18px; }

.artist_name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2.34rem;
  padding: 15px 22px 7px 22px;
  margin-bottom: 9px; }
  .artist_name .artist-id {
    font-size: 0.9rem;
    color: #9DA3AF; }

.artist-info_table {
  width: 100%;
  padding: 0 22px; }
  .artist-info_table .datagroup {
    margin-bottom: 16px; }

.artist-table_data {
  display: inline; }

.artist-table_label {
  font-size: 0.9rem;
  color: #9DA3AF; }

.genres-list {
  display: flex;
  gap: 8px; }

.releases-type_container {
  padding: 7px 22px; }
  .releases-type_container h2 {
    font-size: 1.2rem;
    font-weight: 500; }

.discography {
  padding: 10px 0; }

.release-type {
  font-size: 1.3rem;
  font-weight: 700;
  color: #9da3af;
  margin-bottom: 5px; }

.releases-list_table {
  width: 100%;
  border-spacing: 6px; }
  .releases-list_table .th-title {
    text-align: left; }
  .releases-list_table .td-fixed {
    width: 100px;
    text-align: center; }
    .releases-list_table .td-fixed:nth-child(2) {
      text-align: left; }
  .releases-list_table .release-table_average {
    color: #84C5FB; }

.releases-list_thead {
  border: 1px solid #ffffff;
  padding-bottom: 8px; }
  .releases-list_thead th {
    font-size: 0.8rem;
    color: #757575;
    font-weight: 400;
    border-bottom: 1px solid #75757573; }

.greyed-info {
  color: #9DA3AF;
  font-size: 0.84rem; }

.release_right-col {
  background-color: #0B0E19; }

.release_left-col {
  display: flex;
  flex-direction: column;
  align-items: center; }

.release-info_main {
  width: 100%;
  padding: 30px 11px; }

.separator {
  width: 100%;
  height: 2px;
  background-color: #DBE0E9; }

.release-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 0 9px;
  margin-bottom: 5px; }
  .release-title .release-id {
    font-size: 0.9rem;
    color: #9DA3AF; }

.album-info {
  padding: 5px; }

.table-label {
  font-size: 0.9rem;
  color: #9DA3AF;
  padding: 5px;
  width: 125px; }

.release-info_average {
  font-size: 1.23rem; }

.release-info_average_secondary {
  font-size: 0.9rem;
  color: #9DA3AF; }

.rating-component {
  padding: 25px 30px;
  border-top: 1px solid #272A37;
  border-bottom: 1px solid #272A37; }

.rating-component_title,
.reviews-component_title,
.component-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #A8AEBA;
  margin-bottom: 5px; }

.rating-actions {
  display: flex;
  gap: 5px; }

.release-page_image-frame {
  width: 100%;
  height: fit-content;
  padding: 18px; }

.release-page_image {
  background-color: #777777;
  width: 100%;
  aspect-ratio: 1 / 1; }

.release_tracklist {
  width: 100%;
  padding: 24px; }
  .release_tracklist table {
    width: 100%; }
  .release_tracklist table, .release_tracklist th, .release_tracklist td {
    border: none;
    border-collapse: collapse; }

.release_tracklist-table {
  width: 100%;
  margin: 12px 0; }
  .release_tracklist-table td {
    padding: 8px; }

.tracklist-row {
  border: 1px solid #303441; }
  .tracklist-row:nth-of-type(odd) {
    background-color: #0B0E19; }
  .tracklist-row:nth-of-type(even) {
    background-color: #161A25; }
  .tracklist-row .tracklist-number {
    text-align: center;
    font-size: 0.844rem;
    font-weight: 700;
    color: #a8aeba;
    width: 40px; }
  .tracklist-row .tracklist_track-title {
    font-size: 0.93rem; }
  .tracklist-row .tracklist_track-time {
    font-size: 0.844rem;
    color: #a8aeba; }

#release_total-time {
  text-align: right;
  font-size: 0.844rem;
  color: #a8aeba; }

.release_user-ratings-list {
  padding: 25px 30px;
  font-size: 0.844rem; }

.release_user-ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  background-color: #161A25; }

.release-ratings_date {
  color: #A8AEBA;
  text-align: center;
  width: 100px; }

.release-ratings_info {
  display: flex;
  width: 100%;
  padding: 4px 32px 4px 4px;
  border-radius: 5px;
  background-color: #292D39; }

.release-ratings_username {
  flex-grow: 1; }

.release-page_reviews-component {
  padding: 25px 30px 15px 30px; }

.review-container {
  border-bottom: 1px solid #242834;
  margin-bottom: 10px; }

.review-info {
  display: flex;
  align-items: center;
  background-color: #272A37;
  padding-right: 24px; }
  .review-info .review_user-avatar {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border: 1px solid #ffffff; }
  .review-info .review_data {
    display: flex;
    gap: 16px;
    flex-grow: 1; }
  .review-info .review-actions {
    display: flex;
    margin-right: 20px;
    align-items: center;
    gap: 24px;
    margin-right: 24px; }

.review-content {
  padding: 12px 38px;
  color: #A8AEBA;
  white-space: pre-wrap; }

.add-release_page .section-header {
  padding: 7px 20px; }
.add-release_page label {
  display: block; }
.add-release_page input {
  background-color: #152238;
  width: 496px;
  font-size: medium;
  color: #DBE0E9;
  padding: 2px;
  border: 1px solid #656C80;
  border-radius: 5px; }
.add-release_page .submit-tracklist-table_track .tracklist-th {
  font-size: 1rem; }
.add-release_page .submit-tracklist-table_track td {
  height: 30px; }
.add-release_page .submit-tracklist-table_track input {
  border: none;
  margin: 4px; }
.add-release_page .submit-tracklist-table_track:nth-of-type(odd) {
  background-color: #4E5465; }
  .add-release_page .submit-tracklist-table_track:nth-of-type(odd) input {
    background-color: #4E5465; }
.add-release_page .submit-tracklist-table_track:nth-of-type(even) {
  background-color: #0B0E19; }
  .add-release_page .submit-tracklist-table_track:nth-of-type(even) input {
    background-color: #0B0E19; }
.add-release_page .tracklist-td_number {
  width: 44px; }
.add-release_page .tracklist-td_title {
  width: 494px; }
.add-release_page .tracklist-td_time {
  width: 66px; }
.add-release_page input[type='button'] {
  background-color: #006ED1 !important;
  width: fit-content;
  padding: 3px 10px;
  border: none; }
  .add-release_page input[type='button']:hover, .add-release_page input[type='button']:active {
    cursor: pointer;
    background-color: #005DBF; }
.add-release_page .separator {
  width: 100%;
  height: 1px;
  background-color: #DBE0E9; }

.tracklist-td_remove input {
  width: 29px; }

.note {
  font-size: medium; }

.warning-note {
  font-size: medium;
  color: #F1696B; }

.add-release_step-header {
  font-size: 1.36rem;
  margin: 40px 5px 5px 5px; }

.add-release_step-number {
  color: #7B818F; }

.add-release_step-box {
  background-color: #20232F;
  padding: 10px 10px;
  border: 1px solid #323643;
  border-radius: 4px; }

.add-release_step-label {
  margin-top: 20px; }

.add-release_input-group {
  padding: 5px; }
  .add-release_input-group div {
    padding: 5px; }

.tracklist_actions {
  background-color: #1B1E2A;
  border: 1px solid #2B2F3C;
  width: fit-content; }
  .tracklist_actions input {
    margin: 13px; }

#add-release_submit-button {
  background-color: #006ED1;
  font-size: 1.2rem;
  padding: 12px;
  border: none;
  margin-top: 10px; }
  #add-release_submit-button:hover, #add-release_submit-button:active {
    background-color: #005DBF; }

.upload-error {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 8px;
  display: none; }

.content-wrapper {
  padding: 45px; }

.profile-header {
  padding: 10px;
  font-size: 0.8rem;
  color: #DBE0E9;
  text-align: right;
  background-color: #242834; }

.profile-username {
  font-size: 2.25rem;
  margin-left: 18px; }

.recent-rating_container {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 50px 29px 112px 1fr 163px; }

.search-engine_category {
  display: none;
  position: absolute;
  transform: translateY(20%);
  align-items: center;
  gap: 8px;
  z-index: 3;
  padding: 7px 15px;
  color: #959CAF;
  background-color: #152238;
  border-bottom: 1px solid #394255; }
  .search-engine_category input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0; }
  .search-engine_category label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #959CAF;
    padding: 5px; }
  .search-engine_category input[type="radio"]:checked + label {
    color: #207BBF;
    font-weight: 700;
    border-bottom: 2px solid #207BBF; }

.search-prompt {
  color: #7B818F;
  font-size: 1.2rem;
  margin: 20px 0; }
  .search-prompt .bolded {
    color: #7B818F; }

.search-results_container h3 {
  font-size: 1.78rem;
  font-weight: 400; }

.search-result_card {
  background-color: #1B1E2A;
  width: 80%;
  height: 140px;
  display: flex;
  gap: 24px;
  padding: 16px;
  margin-bottom: 24px; }

.search-result_card-image {
  align-self: center;
  flex-shrink: 0;
  background-color: #dddddd;
  width: 90px;
  height: 90px; }

.search-result_card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .search-result_card-info .artist-data {
    display: flex;
    justify-content: space-between; }
    .search-result_card-info .artist-data .artist-name {
      font-size: 1.12rem; }
    .search-result_card-info .artist-data .artist-id {
      font-size: 0.84rem;
      color: #A8AEBA; }
  .search-result_card-info .genres {
    font-size: 0.75rem;
    color: #84C5FB; }
  .search-result_card-info .artist-country {
    font-size: 0.84rem;
    color: #A8AEBA; }

.signup-container,
.signin-container {
  border: 2px solid #DBE0E9;
  width: fit-content;
  padding: 16px; }

#signup-form,
#signin-form {
  gap: 16px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px; }
  #signup-form .input-group,
  #signin-form .input-group {
    display: flex;
    flex-direction: column; }

/*# sourceMappingURL=App.css.map */
