@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");
* {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #DBE0E9; }

#root {
  display: flex;
  flex-direction: column; }

html, body {
  min-height: 100%;
  background-color: #0B1528; }

button, input {
  color: #000000; }

.content-page {
  flex: 1 0 auto;
  min-height: 100vh;
  padding-top: 45px; }
  .content-page a {
    color: #84C5FB;
    text-decoration: none; }
    .content-page a:hover {
      color: #C7E2FF; }

.section-header {
  padding: 7px 20px; }

.accent-text {
  color: #4CC0E7; }

.greyed-text {
  color: #9DA3AF; }

.bolded {
  color: inherit;
  font-weight: 700; }

.fake-link {
  color: #84C5FB; }

.warning {
  background-color: #463C07;
  padding: 15px 30px;
  font-size: 0.94rem; }
  .warning li {
    margin: 8px 0; }

.content-section {
  background-color: #20232F;
  padding: 10px;
  border: 1px solid #323643; }

#backdrop {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #00000086; }

.art_thumbnail {
  width: 44px;
  text-align: center; }

.art_thumbnail_container {
  border-radius: 7px;
  height: 44px;
  width: 44px;
  overflow: hidden; }
  .art_thumbnail_container img {
    height: 100%;
    max-width: 100%;
    object-fit: contain; }

[data-lastpass-icon-root] {
  display: none; }

.rating_stars-display {
  display: flex;
  justify-content: center; }
  .rating_stars-display svg {
    height: 16px; }

.page-selector {
  width: 100%;
  display: flex;
  gap: 4px;
  justify-content: center; }
  .page-selector div {
    padding: 4px;
    color: #84C5FB;
    cursor: pointer; }
    .page-selector div:first-of-type {
      color: #9DA3AF;
      cursor: auto; }

.lists_date {
  font-size: 0.85rem;
  color: #A8AEBA; }

header {
  position: fixed;
  width: 100vw;
  z-index: 3;
  background-color: #152238;
  color: #DBE0E9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 4px 42px; }
  header a {
    text-decoration: none;
    color: #DBE0E9; }
    header a:hover {
      background-color: #202C3F; }

.header_title a {
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 8px; }

.header_logo {
  background: url("../public/img/header_logo.png");
  background-size: cover;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px; }

.header_shortcuts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 12px; }

.header_searchbar {
  flex-grow: 1;
  padding-right: 12px; }
  .header_searchbar input {
    width: 100%;
    background-color: #1C2B45;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 4px 16px 4px 36px;
    color: #DBE0E9; }

.header_divider {
  width: 1px;
  height: 30px;
  margin: 4px 8px;
  background-color: #D7D7D7; }

.header_user-info {
  display: flex;
  gap: 8px;
  align-items: center; }

.header_avatar {
  background-color: #202C3F;
  border-radius: 4px;
  width: 34px;
  height: 34px; }
  .header_avatar img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%; }

.header_user-container {
  display: flex;
  align-items: center;
  gap: 24px; }
  .header_user-container img {
    height: 16px; }

#hamburger-menu {
  cursor: pointer; }

.menu-opened {
  display: none;
  position: absolute;
  transform: translateY(155px);
  background-color: #152238;
  border-top: 2px solid #45474C;
  width: 220px;
  z-index: 3; }
  .menu-opened div, .menu-opened button {
    font-size: 1.05rem;
    border-top: 1px solid #45474C;
    padding: 8px 14px;
    cursor: pointer; }
    .menu-opened div:hover, .menu-opened div:active, .menu-opened button:hover, .menu-opened button:active {
      background-color: #171A23; }
  .menu-opened button {
    background-color: #152238;
    border: none;
    border-top: 2px solid #45474C;
    color: #DBE0E9;
    font-size: 1.15rem;
    width: 100%; }

footer {
  width: 100%;
  flex-shrink: 0;
  border-top: 3px solid #999999;
  background-color: #152238;
  padding-bottom: 130px;
  font-size: 0.94rem; }

.footer-inner {
  display: flex;
  justify-content: center;
  margin: 24px 24px;
  gap: 42px; }

.footer-section {
  display: flex;
  flex-direction: column;
  max-width: 200px; }
  .footer-section a {
    text-decoration: none;
    margin-bottom: 4px;
    color: #DDDDDD; }
    .footer-section a:hover, .footer-section a:active {
      color: #ffffff; }

.footer-title {
  margin-bottom: 12px;
  font-weight: 500;
  color: #ffffff;
  font-size: 1rem; }

.logo-image {
  background: url("../public/img/logo_big.png");
  background-size: cover;
  border: 8px solid #ffffff;
  border-radius: 50%;
  height: 120px;
  width: 120px; }

.welcome_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 120px 1fr 250px;
  column-gap: 30px;
  margin: 0 50px; }
  .welcome_container .welcome_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px; }
  .welcome_container .welcome_message-title {
    font-size: 2.15rem;
    color: #A8AEBA; }
    .welcome_container .welcome_message-title span {
      color: #4EBEE7; }
  .welcome_container .welcome_social {
    display: flex;
    gap: 16px; }
    .welcome_container .welcome_social img {
      height: 30px; }

.data-counter_container {
  display: flex;
  gap: 24px;
  font-size: 0.94rem;
  border-top: 1px solid #9da3af3f;
  border-bottom: 1px solid #9da3af3f;
  padding: 12px;
  margin: 32px 50px 50px 50px; }

.homepage_users-content {
  display: flex;
  justify-content: space-between;
  gap: 32px; }

.homepage_reviews {
  width: clamp(450px, 100%, 2000px); }

.homepage_releases {
  width: clamp(200px, 400px, 1500px); }

.homepage_section-header {
  color: #4EBEE7;
  font-weight: 500;
  margin-bottom: 16px; }

.latest-reviews_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #191C28;
  border: 1px solid #323643;
  padding: 16px;
  margin-bottom: 12px; }

.new-release_container {
  padding: 16px 0;
  border-top: 1px solid #9da3af3f; }

.release-page,
.artist-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr fit-content;
  background-color: #272A37; }

.release_left-col,
.artist_left-col {
  background-color: #272A37; }

.artist-page_image-frame {
  width: 100%;
  height: fit-content; }

.artist-page_image {
  background-color: #777777;
  width: 100%;
  aspect-ratio: 1 / 1; }

.artist_right-col {
  background-color: #0B0E19;
  padding: 18px; }

.artist_name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2.34rem;
  padding: 15px 22px 7px 22px;
  margin-bottom: 9px; }
  .artist_name .artist-id {
    font-size: 0.9rem;
    color: #9DA3AF; }

.artist-info_table {
  width: 100%;
  padding: 0 22px; }
  .artist-info_table .datagroup {
    margin-bottom: 16px; }

.artist-table_data {
  display: inline; }

.artist-table_label {
  font-size: 0.9rem;
  color: #9DA3AF; }

.genres-list {
  display: flex;
  gap: 8px; }

.releases-type_container {
  padding: 7px 22px; }
  .releases-type_container h2 {
    font-size: 1.2rem;
    font-weight: 500; }

.discography {
  padding: 10px 0; }

.release-type {
  font-size: 1.3rem;
  font-weight: 700;
  color: #9da3af;
  margin-bottom: 5px; }

.releases-list_table {
  width: 100%;
  border-spacing: 6px; }
  .releases-list_table .th-title {
    text-align: left; }
  .releases-list_table .td-fixed {
    width: 100px;
    text-align: center; }
    .releases-list_table .td-fixed:nth-child(2) {
      text-align: left; }
  .releases-list_table .release-table_average {
    color: #84C5FB; }

.releases-list_thead {
  border: 1px solid #ffffff;
  padding-bottom: 8px; }
  .releases-list_thead th {
    font-size: 0.8rem;
    color: #757575;
    font-weight: 400;
    border-bottom: 1px solid #75757573; }

.greyed-info {
  color: #9DA3AF;
  font-size: 0.84rem; }

.release_right-col {
  background-color: #0B0E19; }

.release_left-col {
  display: flex;
  flex-direction: column;
  align-items: center; }

.release-info_main {
  width: 100%;
  padding: 30px 11px; }

.separator {
  width: 100%;
  height: 2px;
  background-color: #DBE0E9; }

.release-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 0 9px;
  margin-bottom: 5px; }
  .release-title .release-id {
    font-size: 0.9rem;
    color: #9DA3AF; }

.album-info {
  padding: 5px; }

.table-label {
  font-size: 0.9rem;
  color: #9DA3AF;
  padding: 5px;
  width: 125px; }

.release-info_average {
  font-size: 1.23rem; }

.release-info_average_secondary {
  font-size: 0.9rem;
  color: #9DA3AF; }

.rating-component {
  padding: 25px 30px;
  border-top: 1px solid #272A37;
  border-bottom: 1px solid #272A37; }

.stars-rating-component {
  background-color: #141823;
  border: 1px solid #404656;
  border-radius: 3px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px; }
  .stars-rating-component input[type="radio"] {
    display: none; }
  .stars-rating-component #rating-form label {
    cursor: pointer; }
  .stars-rating-component #rating-form g:hover, .stars-rating-component #rating-form g:active {
    fill: #C69C4F; }
  .stars-rating-component #rating-form .selected g,
  .stars-rating-component #rating-form .active-star g {
    fill: #C69C4F; }
  .stars-rating-component #rating-form svg {
    height: 16px; }

.displayed-rating {
  font-size: 1rem;
  color: #B1B6BF; }

.rating-component_title,
.reviews-component_title,
.component-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #A8AEBA;
  margin-bottom: 5px; }

.rating-actions {
  display: flex;
  gap: 8px; }

.catalog-container,
.catalog-review {
  background-color: #303441;
  color: #B1B6BF;
  font-size: 0.75rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px; }
  .catalog-container:hover, .catalog-container:active,
  .catalog-review:hover,
  .catalog-review:active {
    cursor: pointer; }
  .catalog-container img,
  .catalog-review img {
    height: 20px; }

.cataloged {
  background-color: #334A33;
  color: #DBE0E9; }

.release-page_image-frame {
  width: 100%;
  height: fit-content;
  padding: 18px; }

.release-page_image {
  background-color: #777777;
  width: 100%;
  aspect-ratio: 1 / 1; }

.release-page_contributions,
.artist-page_contributions {
  width: 100%;
  border-top: 1px solid #4E5465;
  background-color: #0B1528;
  padding: 15px 50px 20px 50px;
  grid-column: span 2; }
  .release-page_contributions h2,
  .artist-page_contributions h2 {
    font-size: 1.125rem;
    color: #A8AEBA;
    margin-bottom: 18px; }

.contribution {
  display: flex;
  gap: 16px; }

.contribution-group {
  display: flex;
  gap: 8px; }

.contribution-button {
  background-color: #006ED1;
  color: #DBE0E9;
  font-weight: 700;
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer; }
  .contribution-button:hover, .contribution-button:active {
    background-color: #005DBF; }

.catalog-popup {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #161A25;
  border: 1px solid #4E5465;
  font-size: 0.8rem; }
  .catalog-popup div {
    color: #9DA3AF;
    width: 100%;
    text-align: center;
    padding: 8px 12px; }
    .catalog-popup div:hover, .catalog-popup div:active {
      background-color: #303441;
      cursor: pointer; }

.review-form {
  background-color: #20232F;
  border: 1px solid #323643;
  margin: 0 30px;
  padding: 20px;
  width: 80%; }
  .review-form h3 {
    font-size: 1.125rem; }
  .review-form .disclaimer {
    font-size: 0.89rem;
    margin: 12px 0; }
  .review-form li {
    margin-left: 24px;
    list-style-type: circle; }
  .review-form textarea {
    background-color: #0B0E19;
    width: 500px;
    min-width: 200px;
    max-width: 770px;
    padding: 5px;
    font-size: 1rem; }
  .review-form input[type="submit"] {
    background-color: #283A58;
    border: 1px solid #5CB4E3;
    border-radius: 4px;
    padding: 4px 35px;
    margin-top: 12px;
    font-size: 1rem;
    color: #DBE0E9;
    font-weight: 700; }
    .review-form input[type="submit"]:hover, .review-form input[type="submit"]:active {
      background-color: #2C4062;
      cursor: pointer; }

.release_tracklist {
  width: 100%;
  padding: 24px; }
  .release_tracklist table {
    width: 100%; }
  .release_tracklist table, .release_tracklist th, .release_tracklist td {
    border: none;
    border-collapse: collapse; }

.release_tracklist-table {
  width: 100%;
  margin: 12px 0; }
  .release_tracklist-table td {
    padding: 8px; }

.tracklist-row {
  border: 1px solid #303441; }
  .tracklist-row:nth-of-type(odd) {
    background-color: #0B0E19; }
  .tracklist-row:nth-of-type(even) {
    background-color: #161A25; }
  .tracklist-row .tracklist-number {
    text-align: center;
    font-size: 0.844rem;
    font-weight: 700;
    color: #a8aeba;
    width: 40px; }
  .tracklist-row .tracklist_track-title {
    font-size: 0.93rem; }
  .tracklist-row .tracklist_track-time {
    font-size: 0.844rem;
    color: #a8aeba; }

#release_total-time {
  text-align: right;
  font-size: 0.844rem;
  color: #a8aeba; }

.release_user-ratings-list {
  padding: 25px 30px;
  font-size: 0.844rem; }

.release_user-ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  background-color: #161A25; }

.release-ratings_date {
  color: #A8AEBA;
  text-align: center;
  width: 100px; }

.release-ratings_info {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 32px;
  border-radius: 5px;
  background-color: #292D39; }

#personal-rating {
  background-color: #334A33; }

.release-ratings_avatar {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin-right: 4px;
  background-color: #202C3F; }
  .release-ratings_avatar img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px; }

.release-ratings_username {
  flex-grow: 1; }

.release-page_reviews-component {
  padding: 25px 30px 15px 30px; }

.review-container {
  border-bottom: 1px solid #242834;
  margin-bottom: 10px; }

.review-info {
  display: flex;
  align-items: center;
  background-color: #272A37;
  padding-right: 24px; }
  .review-info .review_user-avatar {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #202C3F; }
    .review-info .review_user-avatar img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 4px; }
  .review-info .review_data {
    display: flex;
    gap: 16px;
    flex-grow: 1;
    align-items: center; }
    .review-info .review_data .review_date {
      color: #84C5FB;
      font-size: 0.85rem; }
  .review-info .review-actions {
    display: flex;
    margin-right: 20px;
    align-items: center;
    gap: 24px;
    margin-right: 24px; }

.review-content {
  padding: 12px 38px;
  color: #A8AEBA;
  white-space: pre-wrap; }

.add-release_page .global-container,
.edit-release_page .global-container,
.edit-artist_page .global-container {
  background-color: #20232F;
  border: 1px solid #323643;
  padding: 10px; }
.add-release_page h2,
.edit-release_page h2,
.edit-artist_page h2 {
  margin-bottom: 20px; }
.add-release_page label,
.edit-release_page label,
.edit-artist_page label {
  display: block; }
.add-release_page input,
.edit-release_page input,
.edit-artist_page input {
  background-color: #152238;
  width: 496px;
  font-size: medium;
  color: #DBE0E9;
  padding: 2px;
  border: 1px solid #656C80;
  border-radius: 5px; }
.add-release_page .submit-tracklist-table_track .tracklist-th,
.edit-release_page .submit-tracklist-table_track .tracklist-th,
.edit-artist_page .submit-tracklist-table_track .tracklist-th {
  font-size: 1rem; }
.add-release_page .submit-tracklist-table_track td,
.edit-release_page .submit-tracklist-table_track td,
.edit-artist_page .submit-tracklist-table_track td {
  height: 30px; }
.add-release_page .submit-tracklist-table_track input,
.edit-release_page .submit-tracklist-table_track input,
.edit-artist_page .submit-tracklist-table_track input {
  border: none;
  margin: 4px; }
.add-release_page .submit-tracklist-table_track:nth-of-type(odd),
.edit-release_page .submit-tracklist-table_track:nth-of-type(odd),
.edit-artist_page .submit-tracklist-table_track:nth-of-type(odd) {
  background-color: #4E5465; }
  .add-release_page .submit-tracklist-table_track:nth-of-type(odd) input,
  .edit-release_page .submit-tracklist-table_track:nth-of-type(odd) input,
  .edit-artist_page .submit-tracklist-table_track:nth-of-type(odd) input {
    background-color: #4E5465; }
.add-release_page .submit-tracklist-table_track:nth-of-type(even),
.edit-release_page .submit-tracklist-table_track:nth-of-type(even),
.edit-artist_page .submit-tracklist-table_track:nth-of-type(even) {
  background-color: #0B0E19; }
  .add-release_page .submit-tracklist-table_track:nth-of-type(even) input,
  .edit-release_page .submit-tracklist-table_track:nth-of-type(even) input,
  .edit-artist_page .submit-tracklist-table_track:nth-of-type(even) input {
    background-color: #0B0E19; }
.add-release_page .tracklist-td_number,
.edit-release_page .tracklist-td_number,
.edit-artist_page .tracklist-td_number {
  width: 44px; }
.add-release_page .tracklist-td_title,
.edit-release_page .tracklist-td_title,
.edit-artist_page .tracklist-td_title {
  width: 494px; }
.add-release_page .tracklist-td_time,
.edit-release_page .tracklist-td_time,
.edit-artist_page .tracklist-td_time {
  width: 66px; }
.add-release_page input[type='button'],
.edit-release_page input[type='button'],
.edit-artist_page input[type='button'] {
  background-color: #006ED1 !important;
  width: fit-content;
  padding: 3px 10px;
  border: none; }
  .add-release_page input[type='button']:hover, .add-release_page input[type='button']:active,
  .edit-release_page input[type='button']:hover,
  .edit-release_page input[type='button']:active,
  .edit-artist_page input[type='button']:hover,
  .edit-artist_page input[type='button']:active {
    cursor: pointer;
    background-color: #005DBF; }
.add-release_page .separator,
.edit-release_page .separator,
.edit-artist_page .separator {
  width: 100%;
  height: 1px;
  background-color: #DBE0E9; }

.tracklist-td_remove input {
  width: 29px; }

.note {
  font-size: medium; }

.warning-note {
  font-size: medium;
  color: #F1696B; }

.add-release_step-header,
.edit-release_step-header {
  font-size: 1.36rem;
  margin: 40px 5px 5px 5px; }

.add-release_step-number,
.edit-release_step-number {
  color: #7B818F; }

.add-release_step-box,
.edit-release_step-box {
  background-color: #20232F;
  padding: 10px 10px;
  border: 1px solid #323643;
  border-radius: 4px; }

.add-release_step-label,
.edit-release_step-label,
.form-label {
  margin-top: 20px; }

.add-release_input-group,
.edit-release_input-group,
.submission_input-group {
  padding: 5px; }
  .add-release_input-group div,
  .edit-release_input-group div,
  .submission_input-group div {
    padding: 5px; }

.tracklist_actions {
  background-color: #1B1E2A;
  border: 1px solid #2B2F3C;
  width: fit-content; }
  .tracklist_actions input {
    margin: 13px; }

#add-release_submit-button,
#edit-release_submit-button,
#edit-artist_submit-button {
  cursor: pointer;
  background-color: #006ED1;
  font-size: 1.2rem;
  padding: 12px;
  border: none;
  margin-top: 10px; }
  #add-release_submit-button:hover, #add-release_submit-button:active,
  #edit-release_submit-button:hover,
  #edit-release_submit-button:active,
  #edit-artist_submit-button:hover,
  #edit-artist_submit-button:active {
    background-color: #005DBF; }

.upload-error {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 8px;
  display: none; }

.content-wrapper {
  padding: 45px; }

.profile-header {
  padding: 10px;
  font-size: 0.8rem;
  color: #DBE0E9;
  text-align: right;
  background-color: #242834; }

.profile-username {
  font-size: 2.25rem;
  margin-left: 18px; }

.profile_user-info {
  background-color: #161A25; }

.profile_avatar {
  max-width: 33%;
  margin: 10px 0; }
  .profile_avatar div {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242834;
    color: #9DA3AF; }
  .profile_avatar img {
    max-width: 100%;
    max-height: 300px; }

#avatar-form .input-group {
  display: flex;
  background-color: #1B1E2A;
  margin: 8px 0;
  width: 500px; }
#avatar-form label {
  width: 200px; }
#avatar-form input[type="file"] {
  color: #DBE0E9; }
#avatar-form input[type="submit"] {
  background-color: #283A58;
  color: #DBE0E9;
  border: 1px solid #656C80;
  border-radius: 4px;
  width: 300px;
  padding: 8px;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 24px; }
  #avatar-form input[type="submit"]:hover, #avatar-form input[type="submit"]:active {
    background-color: #4E5465;
    cursor: pointer; }

.profile_section-header {
  background-color: #242834;
  text-align: right;
  font-size: 1.2rem;
  color: #84C5FB;
  padding: 10px; }

.profile_music-section {
  background-color: #161A25; }

.profile_display-buttons,
.profile_content-container {
  padding: 10px; }

.profile_music_display-button {
  background-color: #122D62;
  color: #DBE0E9;
  font-size: 0.94rem;
  padding: 3px 6px;
  border: none;
  border-radius: 2px;
  margin-right: 6px;
  cursor: pointer; }
  .profile_music_display-button:hover, .profile_music_display-button:active {
    color: #A7C2E3; }

#active-button {
  background-color: #215098; }

.recent-ratings {
  margin-bottom: 12px;
  border: 1px solid #2B2F3C; }

.recent-rating_item {
  display: grid;
  grid-template-rows: 55px;
  grid-template-columns: 65px 40px 112px 1fr 163px; }
  .recent-rating_item div {
    border-left: 1px solid #2B2F3C;
    border-right: 1px solid #2B2F3C;
    padding: 5px;
    display: flex;
    align-items: center; }
  .recent-rating_item:nth-of-type(odd) {
    background-color: #1B1E2A; }
  .recent-rating_item:nth-of-type(even) {
    background-color: #0B0E19; }
  .recent-rating_item .recent-rating_thumbnail {
    display: flex;
    justify-content: center; }
    .recent-rating_item .recent-rating_thumbnail img {
      width: 50px;
      height: 50px;
      border-radius: 4px; }
  .recent-rating_item .recent-rating_date {
    background-color: #4E5465;
    color: #B4B9C5;
    font-size: 0.8rem;
    margin: 4px;
    text-align: center;
    vertical-align: middle; }

.personal-ratings-component {
  background-color: #1B1E2A;
  border: 1px solid #2B2F3C; }
  .personal-ratings-component .personal-ratings-component_title {
    font-size: 1.5rem;
    padding: 5px; }

.ratings-listing_item {
  border: 1px solid #2B2F3C; }
  .ratings-listing_item:nth-of-type(odd) {
    background-color: #0B0E19; }
  .ratings-listing_item:nth-of-type(even) {
    background-color: #1B1E2A; }

.individual-rating_row {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 150px 75px 1fr;
  align-items: center; }
  .individual-rating_row > div {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-left: 1px solid #2B2F3C;
    border-right: 1px solid #2B2F3C;
    display: flex; }
  .individual-rating_row .ratings-number {
    justify-content: center;
    align-items: center; }
  .individual-rating_row .ratings_percentage {
    align-items: center; }
    .individual-rating_row .ratings_percentage .ratings_percentage-block {
      height: 20px;
      background-color: #AABB88;
      border: 2px solid #7B818F; }

.individual-rating_score {
  display: flex;
  flex-direction: column;
  align-items: center; }

.profile_collection {
  margin-bottom: 12px;
  border: 1px solid #2B2F3C; }

.profile_collection-item {
  display: grid;
  grid-template-rows: 55px;
  grid-template-columns: 65px 40px 1fr; }
  .profile_collection-item div {
    border-left: 1px solid #2B2F3C;
    border-right: 1px solid #2B2F3C;
    padding: 5px;
    display: flex;
    align-items: center; }
  .profile_collection-item:nth-of-type(odd) {
    background-color: #1B1E2A; }
  .profile_collection-item:nth-of-type(even) {
    background-color: #0B0E19; }
  .profile_collection-item .recent-rating_thumbnail {
    display: flex;
    justify-content: center; }
    .profile_collection-item .recent-rating_thumbnail img {
      width: 50px;
      height: 50px;
      border-radius: 4px; }
  .profile_collection-item .recent-rating_date {
    background-color: #4E5465;
    color: #B4B9C5;
    font-size: 0.8rem;
    margin: 4px;
    text-align: center;
    vertical-align: middle; }

.recent-page .recent_page-selector {
  width: 100%;
  display: flex;
  gap: 4px;
  justify-content: center; }
  .recent-page .recent_page-selector div {
    padding: 4px;
    color: #84C5FB;
    cursor: pointer; }
    .recent-page .recent_page-selector div:first-of-type {
      color: #9DA3AF;
      cursor: auto; }
.recent-page img {
  height: 100%;
  width: 100%; }

.recent-page_ratings {
  border-bottom: 1px solid #4E5465; }
  .recent-page_ratings .recent_header {
    display: grid;
    grid-template-columns: 150px 50px 150px 1fr;
    background-color: #4E5465;
    font-weight: 700;
    font-size: 0.94rem; }
    .recent-page_ratings .recent_header div {
      padding: 5px; }
  .recent-page_ratings .recent-page_item {
    grid-column-start: 1;
    grid-column-end: span 3;
    display: grid;
    grid-template-columns: 150px 50px 150px 1fr; }
    .recent-page_ratings .recent-page_item:nth-of-type(even) div {
      background-color: #0B0E19; }
    .recent-page_ratings .recent-page_item:nth-of-type(odd) div {
      background-color: #1B1E2A; }
    .recent-page_ratings .recent-page_item div {
      display: flex;
      align-items: center;
      padding: 5px;
      height: 100%;
      border-left: 1px solid #4E5465;
      border-right: 1px solid #4E5465; }
    .recent-page_ratings .recent-page_item .recent-rating_date {
      color: #B4B9C5;
      font-size: 0.8rem;
      text-align: center;
      vertical-align: middle;
      width: 40px;
      justify-self: center;
      align-self: center; }
      .recent-page_ratings .recent-page_item .recent-rating_date div {
        background-color: #4E5465;
        height: fit-content; }

.collection-item {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: 150px 40px 1fr; }
  .collection-item div {
    border-left: 1px solid #2B2F3C;
    border-right: 1px solid #2B2F3C;
    padding: 5px;
    display: flex;
    align-items: center; }
  .collection-item:nth-of-type(odd) {
    background-color: #1B1E2A; }
  .collection-item:nth-of-type(even) {
    background-color: #0B0E19; }
  .collection-item .recent-rating_thumbnail {
    display: flex;
    justify-content: center;
    padding: 5px; }
    .collection-item .recent-rating_thumbnail img {
      width: 100%;
      height: 100%;
      border-radius: 4px; }
  .collection-item .recent-rating_date {
    background-color: #4E5465;
    color: #B4B9C5;
    font-size: 0.8rem;
    margin: 4px;
    text-align: center;
    vertical-align: middle; }

.last-review_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #191C28;
  border: 1px solid #323643;
  padding: 36px;
  margin-bottom: 12px; }

.last-review_art img {
  max-width: 100%;
  min-width: 44px; }

.last-review_right-col {
  padding-left: 32px; }

.last-review_release-title {
  font-size: 1.85rem;
  margin-bottom: 6px; }
  .last-review_release-title .last-review_date {
    font-size: 1.3rem;
    color: #A8AEBA; }

.last-review_release-artist {
  font-size: 1.55rem; }

.last-review_user-info {
  margin: 16px 0;
  font-size: 0.85rem; }

.last-review_review {
  color: #9DA2AE;
  white-space: pre-wrap; }

.review-item .review_release-info {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: 150px 40px 1fr;
  background-color: #0B0E19; }
  .review-item .review_release-info div {
    border-left: 1px solid #2B2F3C;
    border-right: 1px solid #2B2F3C;
    padding: 5px;
    display: flex;
    align-items: center; }
  .review-item .review_release-info .recent-rating_thumbnail {
    display: flex;
    justify-content: center;
    padding: 5px; }
    .review-item .review_release-info .recent-rating_thumbnail img {
      width: 100%;
      height: 100%;
      border-radius: 4px; }
  .review-item .review_release-info .recent-rating_date {
    background-color: #4E5465;
    color: #B4B9C5;
    font-size: 0.8rem;
    margin: 4px;
    text-align: center;
    vertical-align: middle; }
.review-item .review-page_content {
  display: flex;
  background-color: #1B1E2A;
  border-left: 1px solid #2B2F3C;
  border-right: 1px solid #2B2F3C;
  align-items: stretch;
  padding: 5px; }
  .review-item .review-page_content .review_block {
    width: 30px;
    background-color: #4E5465; }
  .review-item .review-page_content .review-page_review-text {
    padding: 30px;
    white-space: pre-wrap; }

#searchbar-icon {
  height: 16px;
  position: absolute;
  top: 15px;
  left: 523px; }

.search-engine_category {
  display: none;
  position: absolute;
  transform: translateY(20%);
  align-items: center;
  gap: 8px;
  z-index: 3;
  padding: 7px 15px;
  color: #959CAF;
  background-color: #152238;
  border-bottom: 1px solid #394255; }
  .search-engine_category input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0; }
  .search-engine_category label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #959CAF;
    padding: 5px; }
  .search-engine_category input[type="radio"]:checked + label {
    color: #207BBF;
    font-weight: 700;
    border-bottom: 2px solid #207BBF; }

.edit-history_item {
  background-color: #20232F;
  border: 1px solid #323643;
  border-radius: 4px;
  margin: 16px 0;
  padding: 10px; }
  .edit-history_item div {
    margin: 4px 0; }
  .edit-history_item li {
    margin-left: 16px; }

.search-prompt {
  color: #7B818F;
  font-size: 1.2rem;
  margin: 20px 0; }
  .search-prompt .bolded {
    color: #7B818F; }

.search-results_container h3 {
  font-size: 1.78rem;
  font-weight: 400; }

.search-result_card {
  background-color: #1B1E2A;
  width: 80%;
  height: 140px;
  display: flex;
  gap: 24px;
  padding: 16px;
  margin-bottom: 24px; }

.search-result_card-image {
  align-self: center;
  flex-shrink: 0;
  background-color: #dddddd;
  width: 90px;
  height: 90px; }
  .search-result_card-image img {
    height: 100%;
    width: 100%; }

.search-result_card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .search-result_card-info .artist-data {
    display: flex;
    justify-content: space-between; }
    .search-result_card-info .artist-data .artist-name {
      font-size: 1.12rem; }
    .search-result_card-info .artist-data .artist-id {
      font-size: 0.84rem;
      color: #A8AEBA; }
  .search-result_card-info .genres {
    font-size: 0.75rem;
    color: #84C5FB; }
  .search-result_card-info .artist-country {
    font-size: 0.84rem;
    color: #A8AEBA; }

.search_release-title {
  font-style: italic;
  font-size: 1.12rem; }

.search_release-date {
  font-size: 1rem;
  color: #7B818F; }

.search-result_tracklist {
  font-size: 0.95rem;
  background-color: #0B0E19;
  margin-top: 12px; }

.login-page {
  margin: 45px;
  display: flex;
  justify-content: space-between; }

.login-section {
  margin: 0 100px;
  max-width: 320px; }
  .login-section p {
    margin-bottom: 15px;
    font-size: 0.94rem; }
  .login-section input[type="submit"] {
    width: 100%;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #323643;
    color: #DBE0E9;
    border: none;
    border-radius: 3px; }
    .login-section input[type="submit"]:hover, .login-section input[type="submit"]:active {
      cursor: pointer;
      background-color: #242834; }
  .login-section .separator {
    width: 100%;
    height: 1px;
    background-color: #4E5465;
    margin: 24px 0 64px 0; }
  .login-section .forgot-password-button {
    width: 100%;
    text-align: center;
    color: #9DA3AF;
    background-color: #323643;
    font-weight: 700;
    padding: 7px;
    border-radius: 3px; }
    .login-section .forgot-password-button:hover, .login-section .forgot-password-button:active {
      background-color: #e5e5f4; }

.login-page_title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 8px; }

.login-container {
  background-color: #161A25;
  border: 1px solid #272A37;
  padding: 22px;
  margin-bottom: 7px; }

#signin-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; }
#signin-form label {
  font-size: 0.94rem;
  font-weight: 700; }
#signin-form input {
  width: 80%;
  padding: 5px;
  font-size: 1.1rem;
  background-color: #152238;
  color: #DBE0E9;
  border: 1px solid #272A37;
  border-radius: 3px; }

.signup-section {
  width: 50%;
  height: fit-content;
  font-size: 0.94rem;
  padding: 30px;
  background-color: #242834;
  border: 1px solid #4E5465;
  border-radius: 5px; }
  .signup-section p {
    margin-bottom: 15px; }
  .signup-section ul {
    list-style-type: none; }

.login-page_signup-prompt {
  font-size: 1.78rem;
  font-weight: 400;
  margin-bottom: 7px; }

.login-page_signup-button {
  background-color: #323643;
  font-size: 1.3rem;
  text-align: center;
  padding: 9px;
  border-radius: 3px;
  margin-top: 16px; }
  .login-page_signup-button:hover, .login-page_signup-button:active {
    cursor: pointer;
    background-color: #161A25; }

.signup-page {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px; }

.signup-container {
  border: 1px solid #4E5465;
  background-color: #141723;
  width: fit-content;
  padding: 16px;
  width: 675px; }
  .signup-container p {
    margin-bottom: 24px; }

#signup-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 4px; }
  #signup-form .input-group {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    #signup-form .input-group label {
      font-weight: 700;
      font-size: 0.95rem; }
    #signup-form .input-group input {
      width: 256px;
      background-color: #152238;
      border: 1px solid #656C80;
      border-radius: 3px;
      padding: 2px;
      color: #DBE0E9;
      font-size: 1rem; }
  #signup-form textarea {
    background-color: #152238;
    border: 1px solid #656C80;
    color: #DBE0E9;
    font-size: 1rem; }
  #signup-form input[type='checkbox'] {
    margin-right: 4px; }
  #signup-form input[type='submit'] {
    width: 195px;
    background-color: #283A58;
    border: 1px solid #656C80;
    border-radius: 3px;
    color: #DBE0E9;
    font-size: 1.05rem;
    font-weight: 700;
    padding: 4px 12px;
    margin-top: 24px; }
    #signup-form input[type='submit']:hover, #signup-form input[type='submit']:active {
      background-color: #4E5465;
      cursor: pointer; }

.signup-warning {
  display: none;
  background-color: #1C2B45;
  border-left: 15px solid #FF6B6B;
  padding: 15px 30px;
  margin: 8px;
  box-shadow: 1px 1px 3px #ffffff3e;
  color: #959CAF; }

/*# sourceMappingURL=App.css.map */
